DATABASE_URL="postgresql://postgres.mrrmqknemncgygodkcjr:G4t0%3D%5E.%5E%3D%21pr3t0%21@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.mrrmqknemncgygodkcjr:G4t0%3D%5E.%5E%3D%21pr3t0%21@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
