# Database
DATABASE_URL=

# Gemini API
NEXT_PUBLIC_GEMINI_API_KEY=

# Twilio WhatsApp Integration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
WHATSAPP_NOTIFICATION_NUMBER=

# Email Integration (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=
NOTIFICATION_EMAIL_RECIPIPIENT=
